<%- include ('template/header') %>

    <div class="container mt-5 text center">
        <h1 class="display-1 text-danger">403</h1>
        <p class="lead"> You do not have permission to access the Admin Page.</p>
        <a href="/" class="btn btn-primary"> Back to Home</a>
    </div>

    <%- include('template/footer') %>